---
import PostPreview from "../components/PostPreview.astro";
import Layout from "../layouts/Layout.astro";
import { api } from "./../utils/api";

const posts = await api.post.all.query();
---

<Layout title="Welcome to AcmeBlog">
  <main
    class="flex flex-col w-full max-w-2xl mx-auto items-center justify-between"
  >
    <div class="p-4 mb-4 w-full mt-12">
      <h1 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Blog</h1>
      <h5 class="text-gray-400">All the articles posted so far...</h5>
    </div>
    <section class="flex flex-col gap-12 w-full p-4 md:p-0">
      {posts.map((post) => <PostPreview post={post} />)}
    </section>
  </main>
</Layout>
