---
import PostPreview from "../components/PostPreview.astro";
import Layout from "../layouts/Layout.astro";
import { api } from "./../utils/api";

const posts = await api.post.all.query();
---

<Layout title="Welcome to A Blog">
  <div class="mt-4 mb-10">
    <h1 class="text-2xl font-extrabold tracking-tight sm:text-4xl">Articles</h1>
    <h5 class="text-gray-400">All the articles posted so far...</h5>
  </div>
  <section class="flex flex-col gap-8">
    {posts.map((post) => <PostPreview post={post} />)}
  </section>
</Layout>
