<header class="flex gap-4 border-b py-3 relative">
  <div class="relative p-4">
    <div class="absolute left-4 top-3/4 w-10 border-b-2 border-gray-800"></div>
    <div class="flex justify-between">
      <a
        href="/"
        class="text-5xl font-bold tracking-widest text-gray-950 -mt-2"
      >
        ab</a
      >
    </div>
  </div>
  <div class="flex-1">
    <h1 class="text-4xl font-extrabold md:text-5xl text-indigo-500">A Blog</h1>
    <h2 class="text-xl flex-1 dark:text-gray-700">
      Minimal blog made with Astro
    </h2>
  </div>
  <a
    class="fill-gray-400 h-6 w-6 mt-auto mb-2"
    href="https://github.com/dariuspasca/blog-cms"
    title={`A Blog Github URL'`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path
        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
      ></path>
    </svg>
  </a>
</header>
