<header class="container relative mx-auto p-4">
  <div class="absolute left-4 top-3/4 w-6 border-b-2 border-gray-600"></div>
  <div class="flex justify-between">
    <a href="/" class="text-3xl font-bold tracking-widest text-gray-950"> ab</a>
  </div>
</header>
